#eventscalendar {width: 200px; margin-left: 10px;}

#eventscalendar .title {text-align: center; font-weight: bold; font-size: 11px; font-family: Verdana, Geneva, sans-serif; width: 100%;}
#eventscalendar .next {text-align: center; font-weight: bold; font-size: 11px; font-family: Verdana, Geneva, sans-serif; width: 100%; color: #c0c0c0; margin-bottom: 10px;}
#eventscalendar .next a {color: #757575;}

#eventscalendar table {
	border-collapse: separate;
	border: 1px solid #c0c0c0;
	border-width: 0px 0px 1px 1px;
	margin: 10px auto;
	font-size: 12px;
}
#eventscalendar td, #eventscalendar th {
	width: 25px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	background: #fff;
	color: #444;
	position: relative; border: solid 1px #c0c0c0; font-family: Arial, Helvetica, sans-serif;
}

#eventscalendar .blank {
	width: 25px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	background: #FFF;
	color: #444;
	position: relative; border: solid 1px #c0c0c0; font-family: Arial, Helvetica, sans-serif;
}
#eventscalendar th {
	height: 21px;
	font-weight: bold; font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; background: #7c7c7c; color: #FFF;
}
#eventscalendar td:hover, #eventscalendar th:hover {
	background-position: 0px -81px;
	color: #222;
}
#eventscalendar td.date_has_event {
	background-position: 162px 0px;
	color: 404040; background: #ffea00;
}
#eventscalendar td.date_has_event:hover {
	background-position: 162px -81px;
}

#eventscalendar td.today {
	background-position: 81px 0px;
	color: c0c0c0; background: #e5e5e5;
}
#eventscalendar td.today:hover {
	background-position: 81px -81px;
}
#eventscalendar .events {
	position: relative;
}
#eventscalendar .events ul {
	text-align: left;
	position: absolute;
	display: none;
	z-index: 1000;
	padding: 5px;
	background: #e1e1e1;
	color: white;
	border: 1px solid white;
	font-size: 12px;
	width: 250px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	list-style: none;
	color: #444444;
	-webkit-box-shadow: 0px 8px 8px #333; 
}
#eventscalendar .events li {
	padding-bottom: 5px;
}
#eventscalendar .events li span {
	display: block;
	font-size: 12px;
	color: #555;
}
#eventscalendar .events li span.headline {
	font-weight: bold;
	color: #404040;
}