<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ZoomTanzania</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/allerfont.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/megamenudefault.css" />
		<link rel="stylesheet" type="text/css" href="css/megamenucomponent.css" />
		<link href="css/home.css" rel="stylesheet" type="text/css" />
		<link href="css/style_categories.css" rel="stylesheet" type="text/css" />
		<link href="css/style_photogallery.css" rel="stylesheet" type="text/css" />
		<script src="js/modernizr.custom.js"></script>
        </style><script src="js/modernizr.custom.63321.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/jquery.catslider.js"></script>
		<script>
			$(function() {

				$( '#mi-slider' ).catslider();

			});
		</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=231785620286787";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head>

<body><div id="page"><div id="bannerextrapage" align="center">
  <p><a href="#"></a></p>
  <p>&nbsp;</p>
</div><div id="header">
	<div id="loginbar"><div id="loginbutton"><a  href="#">log in</a>  |   <a  href="#">register</a> </div><div id="searchbutton"><input name="zoomsearch" type="text" id="zoomsearch" value="search in zoomtanzania" size="30" maxlength="70" />
	  <a  href="#">  <input name="zoom search" type="button" value="zoom search" /> 
		  
	</a>        
	<input name="zoomidsearch" type="text" id="zoomidsearch" value="# zoom ID" size="10" maxlength="70" />
	  <a  href="#">  
	  <input name="idsearch" type="button" value="#search by listing ID" />
		  
	</a></div></div>
	<div id="logo"><span> <img src="images/logoZoom.gif" width="320" height="124" style=""/></span><span id="banner"><a href="#"><img src="images/banner_top675.jpg" alt="banner" width="675" height="83" /></a></span></div><div class="menubox">
			<div>
				<nav id="cbp-hrmenu" class="cbp-hrmenu">
					<ul>
						<li>
							<a href="HTTP:">HOME</a>
							<!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#" id="business"  
>BUSINESS DIRECTORY</a>
						  <div class="cbp-hrsub">
								<div class="cbp-hrsub-inner">
									<div>
									
										<ul>
											<li><a href="#">Agribusiness

 
</a></li>
											<li><a href="#">Automotive, Motorcycle & Marine
</a></li>
											<li><a href="#"> 
Banking, Finance & Insurance


</a></li><li><a href="#"> <span class="menuline">
Beauty, Wellness, Fitness <br />& Sporting Centers</span>


</a></li><li><a href="#"> 
Tourism and travels

</a></li><li><a href="#"> 
Business Services


</a></li><li><a href="#">

Community Tanzania</a></li><li><a href="#"><span class="menuline">

Computers, Phones, <br />Business Machines & Electronics</span></a></li>
										</ul>
										<ul>
											<li><a href="#">Creative Services</a></li>
											<li><a href="#">Education & Schools</a></li>
                                            <li><a href="#">Food, Grocery, Beer & Wine

</a></li>
											<li><a href="#">Government & Development</a></li>
										</ul>
									</div>
									<div>
									
										<ul>
											
											<li><a href="#">Home & Garden

 
</a></li>
											<li><a href="#"><span class="menuline">Information Technology in <br />Tanzania
</span></a></li>
											<li><a href="#">Instruction & Classes</a></li>
											<li><a href="#">Media in Tanzania
</a></li><li><a href="#">
 
Medical, Dental, Veterinary</a></li><li><a href="#">
 
Mining, Construction & Manufacturing</a></li><li><a href="#">
 

Party, Conference & Wedding Services

</a></li><li><a href="#">
 
Real Estate Businesses</a></li><li><a href="#">
Security Services
</a></li><li><a href="#">Shopping & Retail in Tanzania</a></li>
<li><a href="#">
The Trades & Fundis
</a></li><li><a href="#"><span class="menuline">TV, Telecom & Internet <br /> Service Provider</span></a></li>
										</ul>
									</div>
									<div>
										<h4> promove &amp; add your business</h4>
										<ul>
											<li><a href="#"><img src="images/businesssmall.png" width="300"></a></li>
											<li><a href="#">a text</a></li>
										
										</ul>
									</div>
								</div><!-- /cbp-hrsub-inner -->
						  </div><!-- /cbp-hrsub -->
						</li>

						<li>
							<a href="#">TOURISM DIRECTORY</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
									
										<ul>
											<li><a href="#">		Airlines in Tanzania
		</a></li>
											<li><a href="#">Tanzania Flight Specials
		</a></li>	<li><a href="#">
		Car Rental & Car Hire
		</a></li><li><a href="#">
		
		Tanzania & Zanzibar Ferry Schedules
		</a></li><li><a href="#">
		
		Tanzania Fishing</a></li><li><a href="#">
		
		Hotels in Tanzania & Zanzibar
		</a></li><li><a href="#">
		Beach Resorts & Lodges
		</a></li>
        <li><a href="#">	
		Safari Lodges & Luxury Tented Safaris
		</a></li>
        <li><a href="#">
		Safari Operators & Guides
		</a></li><li><a href="#">
		Sailing Charters & Cruises
		</a></li><li><a href="#">
	
		Tanzania Travel Agency
		</a></li><li><a href="#">
		
		Inbound Tanzania Vacation Packages
		</a></li><li><a href="#">
		Weekend Escapes & Resident Specials
		</a></li>
										</ul>
								</div><div>	
										<ul>
											<li><a href="#">
		Tour Operators
		</a></li>
											<li><a href="#">
		Camp Tanzania
		</a></li>
											<li><a href="#">
		Mountain Retreats & Lodges
	</a></li>
											<li><a href="#">
		Hostels
		</a></li>
											<li><a href="#">
		Vacation Rentals
		</a></li>
        <li><a href="#">
		Diving Tanzania
		</a></li><li><a href="#">
		Vacation Rentals
		</a></li>
        <li><a href="#">
		Watersports
		</a></li>
        <li><a href="#">
		Mount Kilimanjaro Climbing Guides
		</a></li><li><a href="#">
		Hunting Tanzania
		Outbound Tanzania Vacation Packages</a></li>
        <li><a href="#">
		
		Outbound Tanzania Vacation Packages</a></li>
										</ul>
									</div>
									<div>
										<h4>A text about Tourism Directory</h4>
										<ul>
											<li><a href="#"><img src="images/image2.jpg"></a></li>
											<li><a href="#">text</a></li>
							
										</ul>
			
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#">RESTAURANTS &amp; NIGHTLIFE</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>Bars, Clubs & Pubs</h4>
										<ul>
											<li><a href="#">Catch the Bullet</a></li>
											<li><a href="#">Snoopydoo</a></li>
											<li><a href="#">Fallen Angel</a></li>
											<li><a href="#">Sui Maker</a></li>
											<li><a href="#">Wave Master</a></li>
											<li><a href="#">Golf Pro</a></li>
										</ul>
<h4>Theatres</h4>
										<ul>
											<li><a href="#">Gadget Finder</a></li>
											<li><a href="#">Green Tree Express</a></li>
										</ul>
									</div>
									<div>
										<h4>Restaurant Guide</h4>
										<ul>
											<li><a href="#">Gadget Finder</a></li>
											<li><a href="#">Green Tree Express</a></li>
											<li><a href="#">Green Tree Pro</a></li>
											<li><a href="#">Holy Cannoli</a></li>
											<li><a href="#">Wobbler 3.0</a></li>
											<li><a href="#">Coolkid</a></li>
										</ul>
									</div><div>
										<h4>A text about Tourism Directory</h4>
										<ul>
											<li><a href="#"><img src="images/image2.jpg"></a></li>
											<li><a href="#">text</a></li>
							
										</ul>
			
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#">ARTS &amp; ENTERTAINMENT</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>Artist & arts gallery in Tanzania</h4>
										<ul>
											<li><a href="#">Green Tree Pro</a></li>
											<li><a href="#">Wobbler 3.0</a></li>
											<li><a href="#">Coolkid</a></li>
										</ul>
										<h4>Cultural Center & Institutes</h4>
										<ul>
											<li><a href="#">Learn Thai</a></li>
											<li><a href="#">Math Genius</a></li>
											<li><a href="#">Chemokid</a></li>
										</ul>
                                        <h4>Family Fun</h4>
                                        <ul>
											<li><a href="#">Learn Thai</a></li>
											<li><a href="#">Math Genius</a></li>
											<li><a href="#">Chemokid</a></li>
										</ul>
                                         
									</div>
									<div>
										<h4>Museum Zoos Botanical Garden</h4>
                                        <ul>
											<li><a href="#">Learn Thai</a></li>
											<li><a href="#">Math Genius</a></li>
											<li><a href="#">Chemokid</a></li>
										</ul><h4>Tanzania Performing Arts</h4>
										<ul>
											<li><a href="#">Success 1.0</a></li>
											<li><a href="#">Moneymaker</a></li>
										</ul>
									</div>
									<div>
										<h4>A text about Tourism Directory</h4>
										<ul>
											<li><a href="#"><img src="images/image2.jpg"></a></li>
											<li><a href="#">text</a></li>
							
										</ul>
			
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#">EVENTS</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>Utilities</h4>
										<ul>
											<li><a href="#">Green Tree Pro</a></li>
											<li><a href="#">Wobbler 3.0</a></li>
											<li><a href="#">Coolkid</a></li>
										</ul>
										<h4>Education</h4>
										<ul>
											<li><a href="#">Learn Thai</a></li>
											<li><a href="#">Math Genius</a></li>
											<li><a href="#">Chemokid</a></li>
										</ul>
									</div>
									<div>
										<h4>Professionals</h4>
										<ul>
											<li><a href="#">Success 1.0</a></li>
											<li><a href="#">Moneymaker</a></li>
										</ul>
									</div>
									<div>
										<h4>Learning &amp; Games</h4>
										<ul>
											<li><a href="#">Catch the Bullet</a></li>
											<li><a href="#">Snoopydoo</a></li>
											<li><a href="#">Fallen Angel</a></li>
											<li><a href="#">Sui Maker</a></li>
											<li><a href="#">Wave Master</a></li>
											<li><a href="#">Golf Pro</a></li>
										</ul>
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li><li>
							<a href="#">CLASSIFIEDS</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>Jobs</h4>
										<ul>
											<li><a href="#">Green Tree Pro</a></li>
											<li><a href="#">Wobbler 3.0</a></li>
											<li><a href="#">Coolkid</a></li>
										</ul>
										<h4>Vehicles</h4>
										<ul>
											<li><a href="#">Learn Thai</a></li>
											<li><a href="#">Math Genius</a></li>
											<li><a href="#">Chemokid</a></li>
										</ul>
									</div>
									<div>
										<h4>Real Estate</h4>
										<ul>
											<li><a href="#">Success 1.0</a></li>
											<li><a href="#">Moneymaker</a></li>
										</ul><h4>FSBO</h4>
										<ul>
											<li><a href="#">Catch the Bullet</a></li>
											<li><a href="#">Snoopydoo</a></li>
											<li><a href="#">Fallen Angel</a></li>
											<li><a href="#">Sui Maker</a></li>
											<li><a href="#">Wave Master</a></li>
											<li><a href="#">Golf Pro</a></li>
										</ul>
									</div>
									<div>
										<h4>FSBO</h4>
										<ul>
											<li><a href="#">Catch the Bullet</a></li>
											<li><a href="#">Snoopydoo</a></li>
											<li><a href="#">Fallen Angel</a></li>
											<li><a href="#">Sui Maker</a></li>
											<li><a href="#">Wave Master</a></li>
											<li><a href="#">Golf Pro</a></li>
										</ul>
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/cbpHorizontalMenu.min.js"></script>
		<script>
			$(function() {
				cbpHorizontalMenu.init();
			});
		</script>
	</div><div id="main"><!--SIDEBAR LEFT--><div id="sidebar">
  <div id="box_form" class="smallcap">
    <h4 align="center"> Search a JOB<img src="images/blubar.gif" alt="" width="200" height="5" /></h4>
    <ul class="imageList">
      <li> <a href="#" ></a>
        <form name="form2" id="form2">
          <p>
            job category<br />
            <select name="jumpMenu6" id="jumpMenu6" onchange="MM_jumpMenu('parent',this,0)">
              <option>manager</option>
              <option>teacher</option>
              <option>housekeeper</option>
              <option>graphic designer</option>
              <option>web designer</option>
              <option>select the job area</option>
            </select>
            <label for="km2"></label>
            <br />
            <br />
            position type
            <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)">
              <option>full time</option>
              <option>consultancy</option>
              <option>volunteer</option>
              <option>internship</option>
              <option>select the position type</option>
            </select>
            <br />
            <br />
            organization type<br />
<select name="jumpMenu3" id="jumpMenu3" onchange="MM_jumpMenu('parent',this,0)">
  <option>NGO</option>
  <option>Governemental</option>
  <option>Parastatal</option>
  <option>Private</option>
  <option selected="selected">select the organization</option>
</select>
            
            <br />
            <br />
            location
            <br />
            <select name="jumpMenu7" id="jumpMenu7" onchange="MM_jumpMenu('parent',this,0)">
              <option>dar es salaam</option>
              <option>zanzibar</option>
              <option>moshi/arusha</option>
              <option>bagamoyo</option>
              <option>dodoma</option>
              <option>select the location</option>
            </select>
            <br />
            <a href="#" ><br />
            <br />
            <input type="submit" name="search" id="search" value="search" />
            <input type="submit" name="cancel" id="cancel" value="cancel" />
            <br />
            </a> </p>
        </form>
      </li>
      <li>
          <map name="playmovie" id="playmovie">
            <area shape="rect" coords="6,3,29,20" href="#" />
      <area shape="rect" coords="32,3,53,20" href="#" />
      <area shape="rect" coords="55,3,80,202" href="#" />
  </map></li>
    </ul>
  </div>
  <div id="box_left">
    <h4>USER tips<br />
      <img src="images/blueline.gif" alt="" width="180" height="5" /></h4>
    <ul class="imageList">
      <li><a href="#" ><br />
        Post an Vacancy Free<br />
        <br />
        How to Apply for a Job
      </a></li>
    </ul>
  </div><div id="box_left">
    <h4>you may also LIKE<br />
      <img src="images/blueline.gif" alt="" width="180" height="5" /></h4>
    <ul class="imageList">
      <li>
        <div class="zoomreccomend">
          <p><a href="http://zoomtanzaniahost.com/zoomtanzania/"><h2>Tanzania Tourism Directory</h2>
          </a></p><br />
          <p><a href="http://zoomtanzaniahost.com/zoomtanzania/"><h2>How to List my Business</h2></a></p>
        </div>
      </li>
    </ul>
  </div>
</div><!--CONTENT SLIDING EVENTS + CLASSIFIED TABS--><div id="columncontent">
  <div id="container">
    <h4 align="center"> Jobs / Category<img src="images/blubar.gif" alt="" width="540" height="5" /></h4>
    <div id="welcometext" align="left"> 
      <p class="smallbreadcrumbs"><a href="#">Home</a> &gt;<a href="#"> Section</a> &gt; <a href="#">Category</a> &gt; Listing Detail</p><p>
        <br />
       
    </p>
    </div>
 <img src="image/categories/detailpage_shareit.jpg" /> <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style" align="right">
<a class="addthis_button_email"></a>
<a class="addthis_button_print"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_google_plusone_share"></a>
<a class="addthis_button_stumbleupon"></a>
<a class="addthis_button_reddit"></a>
<a class="addthis_button_linkedin"></a>
<a class="addthis_button_blogger"></a>
<a class="addthis_button_compact"></a><!--<a class="addthis_counter addthis_bubble_style"></a>-->
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
<!-- AddThis Button END --></div>
 <!--BUSINESS DETAIL COMPLETE--><div class="listlogo"><h3>
    <br />
    <br />
      <a href="http://www.zoomtanzania.com/zoomedlisting?ListingID=51789" onclick="clickThroughExpanded(51789)">Senior Internal Auditor (2 Posts)</a><br />
<br />
          </h3><div class="list">
      
     <ul><li><span class="smallcategorynormal"><b>job Category:</b> management <br />
<b>position type:</b> consultancy <b><br />
organization type: </b>ngo <b><br />
location:</b> dar es salaam</span><h5><br />
           <br /> 
           COMPANY:<br />
           </h5>Tanzania Postal Bank<span class="uppercap"> <br />
           </span><span class="uppercap"><br />
</span><br />
<br />
       <br />
       <br />
     </li>
       <li><span id="EmailLister"><strong>Phone: </strong>No Phone Calls<br />
           <strong>Location:</strong> Dar Es Salaam<br />
           <strong>Application Deadline: </strong>May 01, 2013</span> <br />
        <h5><br />
          POSITION DESCRIPTION:</h5>
<b>Tel:</b> +255 752 124 124<br />
            <b>Fax:</b> +255 (0) 22 212 2843<br />
            <a href="#">www.blabla.co.tz</a><br />

</li><li></li>  
</ul></div>
        <div class="list" align="left"><br />
        <h5>POSITION DESCRIPTION:</h5><br />
          <p>From Daily News April 17, 2013</p>
          <p>Tanzania Postal Bank is an established Bank by the Act No. 11 of 1991 as amended by Act No. 11 of 1992. <span data-scayt_word="TPB" data-scaytid="1">TPB</span> is a Bank that provides competitive financial services to our customers and creates value for our stakeholders through innovative products.</p>
          <p> </p>
          <p><span data-scayt_word="TPB" data-scaytid="2">TPB</span> is a Bank, whose vision is &quot;to be the leading bank in the provision of accessible and convenient financial services&quot;. As part of effective organizational development and management of its human capital in an effective way, <span data-scayt_word="TPB" data-scaytid="3">TPB</span> commits itself towards attaining, retaining and developing the highly capable and qualified workforce for <span data-scayt_word="TPB" data-scaytid="4">TPB</span> betterment and the Nation at large.</p>
          <p>Tanzania Postal Bank (<span data-scayt_word="TPB" data-scaytid="8">TPB</span>) seeks to appoint dedicated, self motivated and highly organized Senior Internal Auditors (2) to join the Audit team. The persons will be responsible with risks analysis of the Bank and performing internal audit of Bank branches and directorates. He/she will also be required to write audit report</p>
          <p>for management implementations of the findings.</p>
          <p><strong>Reporting Line</strong>: Audit Chief Manager</p>
          <p>Work Schedule: As per <span data-scayt_word="TPB" data-scaytid="10">TPB</span> Staff regulations</p>
          <p>Salary: <span data-scayt_word="TPB" data-scaytid="12">TPB</span></p>
          <p><strong>Main Purpose of the Job</strong></p>
          <p>To extract and analyze data so as to determine various risks of the Bank.</p>
          <p>To carry out audit for branches and directorates within the Bank.</p>
          <p>To ascertain the adequacy of the internal controls system and the reliability of financial reports and management of data and information</p>
          <p>To review systems procedures, policies, controls and guidelines and recommend</p>
          <p>improvements.</p>
          <p>To Review and report on the compliance to the internal controls set by the bank</p>
          <p>To carry out risk assessment procedures and execute value for money audit.</p>
          <p>To assist in undertaking special audit and special investigation, inspection and surprise checks and give results there on.</p>
          <p>To follow up audit replies of internal audit reports and external and BOT examiner</p>
          <p>findings and recommendations.</p>
          <p>To perform any other duties as may be assigned by Director of internal</p>
          <p><strong>Qualification, Experience and Skills Required</strong></p>
          <p><strong>Education:</strong>Bachelor Degree in Accounting and Finance from higher learning institutions.</p>
          <p><strong>Experience:</strong></p>
          <p>The candidate must have a working experience of not less than three years in a financial institution or related discipline.</p>
          <p>She/he should be computer literate with excellent command of Excel and Word Processing.</p>
          <p>Strong oral and written skills in both English and Swahili.</p>
          <p><strong>Skills and attributes</strong>: The candidate must be:</p>
          <p>Team player.</p>
          <p>Attention to details</p>
          <p>Skeptic</p>
          <p>Unquestionable integrity.</p>
          <p>Good written and oral in both English and Swahili.</p>
          <p>Prioritize tasks and organization</p>
          <p>Can work independent at minimal supervision</p>
          <p><strong>Salary and Remuneration</strong></p>
          <p>The position attracts a competitive salary package, which include benefits.<br />
            <br />
            <strong>Application Instructions:</strong><br />
          </p>
          <p>Applicants are invited to submit their resume (indicating the position title in the subject heading) via e-mail to the Email Link above</p>
          <p>The deadline for submitting the applications is two weeks from the first appearance of the advertisement of this post in local Newspaper.</p>
          <p>Tanzania Postal Bank is an Equal Opportunity Employer</p>
          <p>A 'candidate who will not be contacted by Tanzania Postal Bank within seven (7) days after the closing date, you should consider your application as unsuccessful. Late applications will not be considered. Short listed candidates may be subjected to any of the following: a security clearance; a competency assessment and reference checking.<br />
            <br />
          </p>
          
          <p>  <br />
            <br />
          </p>
         
         
          
</div><div><h5>if you are qualify for this position</h5><br />
  <img src="images/button_apply.png" alt="apply now" width="127" height="36" align="texttop" /></div></div>
 <div align="right">
        <h6><a href="#"><img src="images/button_report.gif" width="21" height="18" /> report abuse or incorrect content</a></h6></div><div class="addthis_toolbox addthis_default_style addthis_16x16_style" align="left">
<a class="addthis_button_email"></a>
<a class="addthis_button_print"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_compact"></a><!--<a class="addthis_counter addthis_bubble_style"></a>-->
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
<!-- AddThis Button END --></div>
</div>



</div><!-- SIDEBAR RIGHT--><div id="sidebar2"><div id="box_banner">
    

        <img  src="images/banner0.jpg" height="550" alt="" />
  </div><!--<div id="box_left">
    <h4>Latest Featured Business<br />
      <img src="images/blueline.gif" alt="" width="170" height="5" /></h4>
    <ul class="imageList">
      <li><a href="#" >Easter Holiday<br />
          Special Package to Maldive<br />
        <img class="left" src="images/latestbusiness.jpg" width="141" height="200" alt="" /><br />
         </a></li>
    </ul>

</div>--></div>
  
  </div>
  <!--FOOTER
<div id="footer"><div class="itemcenter"><img src="images/banner_top728.jpg" width="728" height="90" /></div></div>--></div>
</body>
</html>
