<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ZoomTanzania</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/megamenudefault.css" />
		<link rel="stylesheet" type="text/css" href="css/megamenucomponent.css" />
		<link href="css/style_categories.css" rel="stylesheet" type="text/css" />
		<link href="css/style_photogallery.css" rel="stylesheet" type="text/css" />
		<script src="js/modernizr.custom.js"></script>
        </style><script src="js/modernizr.custom.63321.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/jquery.catslider.js"></script>
		<script>
			$(function() {

				$( '#mi-slider' ).catslider();

			});
		</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=231785620286787";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head>

<body><div id="page"><div id="bannerextrapage" align="center">
  <p><a href="#"></a></p>
  <p>&nbsp;</p>
</div><div id="header">
	<div id="loginbar"><div id="loginbutton"><a  href="#">log in</a>  |   <a  href="#">register</a> </div><div id="searchbutton"><input name="zoomsearch" type="text" id="zoomsearch" value="search in zoomtanzania" size="30" maxlength="70" />
	  <a  href="#">  <input name="zoom search" type="button" value="zoom search" /> 
		  
	</a>        
	<input name="zoomidsearch" type="text" id="zoomidsearch" value="# zoom ID" size="10" maxlength="70" />
	  <a  href="#">  
	  <input name="idsearch" type="button" value="#search by listing ID" />
		  
	</a></div></div>
	<div id="logo"><span> <img src="images/logoZoom.gif" width="320" height="124" style=""/></span><span id="banner"><a href="#"><img src="images/banner_top675.jpg" alt="banner" width="675" height="83" /></a></span></div><div class="menubox">
			<div>
				<nav id="cbp-hrmenu" class="cbp-hrmenu">
					<ul>
						<li>
							<a href="HTTP:">HOME</a>
							<!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#" id="business"  
>BUSINESS DIRECTORY</a>
						  <div class="cbp-hrsub">
								<div class="cbp-hrsub-inner">
									<div>
									
										<ul>
											<li><a href="#">Agribusiness

 
</a></li>
											<li><a href="#">Automotive, Motorcycle & Marine
</a></li>
											<li><a href="#"> 
Banking, Finance & Insurance


</a></li><li><a href="#"> <span class="menuline">
Beauty, Wellness, Fitness <br />& Sporting Centers</span>


</a></li><li><a href="#"> 
Tourism and travels

</a></li><li><a href="#"> 
Business Services


</a></li><li><a href="#">

Community Tanzania</a></li><li><a href="#"><span class="menuline">

Computers, Phones, <br />Business Machines & Electronics</span></a></li>
										</ul>
										<ul>
											<li><a href="#">Creative Services</a></li>
											<li><a href="#">Education & Schools</a></li>
                                            <li><a href="#">Food, Grocery, Beer & Wine

</a></li>
											<li><a href="#">Government & Development</a></li>
										</ul>
									</div>
									<div>
									
										<ul>
											
											<li><a href="#">Home & Garden

 
</a></li>
											<li><a href="#"><span class="menuline">Information Technology in <br />Tanzania
</span></a></li>
											<li><a href="#">Instruction & Classes</a></li>
											<li><a href="#">Media in Tanzania
</a></li><li><a href="#">
 
Medical, Dental, Veterinary</a></li><li><a href="#">
 
Mining, Construction & Manufacturing</a></li><li><a href="#">
 

Party, Conference & Wedding Services

</a></li><li><a href="#">
 
Real Estate Businesses</a></li><li><a href="#">
Security Services
</a></li><li><a href="#">Shopping & Retail in Tanzania</a></li>
<li><a href="#">
The Trades & Fundis
</a></li><li><a href="#"><span class="menuline">TV, Telecom & Internet <br /> Service Provider</span></a></li>
										</ul>
									</div>
									<div>
										<h4> promove &amp; add your business</h4>
										<ul>
											<li><a href="#"><img src="images/businesssmall.png" width="300"></a></li>
											<li><a href="#">a text</a></li>
										
										</ul>
									</div>
								</div><!-- /cbp-hrsub-inner -->
						  </div><!-- /cbp-hrsub -->
						</li>

						<li>
							<a href="#">TOURISM DIRECTORY</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
									
										<ul>
											<li><a href="#">		Airlines in Tanzania
		</a></li>
											<li><a href="#">Tanzania Flight Specials
		</a></li>	<li><a href="#">
		Car Rental & Car Hire
		</a></li><li><a href="#">
		
		Tanzania & Zanzibar Ferry Schedules
		</a></li><li><a href="#">
		
		Tanzania Fishing</a></li><li><a href="#">
		
		Hotels in Tanzania & Zanzibar
		</a></li><li><a href="#">
		Beach Resorts & Lodges
		</a></li>
        <li><a href="#">	
		Safari Lodges & Luxury Tented Safaris
		</a></li>
        <li><a href="#">
		Safari Operators & Guides
		</a></li><li><a href="#">
		Sailing Charters & Cruises
		</a></li><li><a href="#">
	
		Tanzania Travel Agency
		</a></li><li><a href="#">
		
		Inbound Tanzania Vacation Packages
		</a></li><li><a href="#">
		Weekend Escapes & Resident Specials
		</a></li>
										</ul>
								</div><div>	
										<ul>
											<li><a href="#">
		Tour Operators
		</a></li>
											<li><a href="#">
		Camp Tanzania
		</a></li>
											<li><a href="#">
		Mountain Retreats & Lodges
	</a></li>
											<li><a href="#">
		Hostels
		</a></li>
											<li><a href="#">
		Vacation Rentals
		</a></li>
        <li><a href="#">
		Diving Tanzania
		</a></li><li><a href="#">
		Vacation Rentals
		</a></li>
        <li><a href="#">
		Watersports
		</a></li>
        <li><a href="#">
		Mount Kilimanjaro Climbing Guides
		</a></li><li><a href="#">
		Hunting Tanzania
		Outbound Tanzania Vacation Packages</a></li>
        <li><a href="#">
		
		Outbound Tanzania Vacation Packages</a></li>
										</ul>
									</div>
									<div>
										<h4>A text about Tourism Directory</h4>
										<ul>
											<li><a href="#"><img src="images/image2.jpg"></a></li>
											<li><a href="#">text</a></li>
							
										</ul>
			
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#">RESTAURANTS &amp; NIGHTLIFE</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>Bars, Clubs & Pubs</h4>
										<ul>
											<li><a href="#">Catch the Bullet</a></li>
											<li><a href="#">Snoopydoo</a></li>
											<li><a href="#">Fallen Angel</a></li>
											<li><a href="#">Sui Maker</a></li>
											<li><a href="#">Wave Master</a></li>
											<li><a href="#">Golf Pro</a></li>
										</ul>
<h4>Theatres</h4>
										<ul>
											<li><a href="#">Gadget Finder</a></li>
											<li><a href="#">Green Tree Express</a></li>
										</ul>
									</div>
									<div>
										<h4>Restaurant Guide</h4>
										<ul>
											<li><a href="#">Gadget Finder</a></li>
											<li><a href="#">Green Tree Express</a></li>
											<li><a href="#">Green Tree Pro</a></li>
											<li><a href="#">Holy Cannoli</a></li>
											<li><a href="#">Wobbler 3.0</a></li>
											<li><a href="#">Coolkid</a></li>
										</ul>
									</div><div>
										<h4>A text about Tourism Directory</h4>
										<ul>
											<li><a href="#"><img src="images/image2.jpg"></a></li>
											<li><a href="#">text</a></li>
							
										</ul>
			
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#">ARTS &amp; ENTERTAINMENT</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>Artist & arts gallery in Tanzania</h4>
										<ul>
											<li><a href="#">Green Tree Pro</a></li>
											<li><a href="#">Wobbler 3.0</a></li>
											<li><a href="#">Coolkid</a></li>
										</ul>
										<h4>Cultural Center & Institutes</h4>
										<ul>
											<li><a href="#">Learn Thai</a></li>
											<li><a href="#">Math Genius</a></li>
											<li><a href="#">Chemokid</a></li>
										</ul>
                                        <h4>Family Fun</h4>
                                        <ul>
											<li><a href="#">Learn Thai</a></li>
											<li><a href="#">Math Genius</a></li>
											<li><a href="#">Chemokid</a></li>
										</ul>
                                         
									</div>
									<div>
										<h4>Museum Zoos Botanical Garden</h4>
                                        <ul>
											<li><a href="#">Learn Thai</a></li>
											<li><a href="#">Math Genius</a></li>
											<li><a href="#">Chemokid</a></li>
										</ul><h4>Tanzania Performing Arts</h4>
										<ul>
											<li><a href="#">Success 1.0</a></li>
											<li><a href="#">Moneymaker</a></li>
										</ul>
									</div>
									<div>
										<h4>A text about Tourism Directory</h4>
										<ul>
											<li><a href="#"><img src="images/image2.jpg"></a></li>
											<li><a href="#">text</a></li>
							
										</ul>
			
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#">EVENTS</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>Utilities</h4>
										<ul>
											<li><a href="#">Green Tree Pro</a></li>
											<li><a href="#">Wobbler 3.0</a></li>
											<li><a href="#">Coolkid</a></li>
										</ul>
										<h4>Education</h4>
										<ul>
											<li><a href="#">Learn Thai</a></li>
											<li><a href="#">Math Genius</a></li>
											<li><a href="#">Chemokid</a></li>
										</ul>
									</div>
									<div>
										<h4>Professionals</h4>
										<ul>
											<li><a href="#">Success 1.0</a></li>
											<li><a href="#">Moneymaker</a></li>
										</ul>
									</div>
									<div>
										<h4>Learning &amp; Games</h4>
										<ul>
											<li><a href="#">Catch the Bullet</a></li>
											<li><a href="#">Snoopydoo</a></li>
											<li><a href="#">Fallen Angel</a></li>
											<li><a href="#">Sui Maker</a></li>
											<li><a href="#">Wave Master</a></li>
											<li><a href="#">Golf Pro</a></li>
										</ul>
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li><li>
							<a href="#">CLASSIFIEDS</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>Jobs</h4>
										<ul>
											<li><a href="#">Green Tree Pro</a></li>
											<li><a href="#">Wobbler 3.0</a></li>
											<li><a href="#">Coolkid</a></li>
										</ul>
										<h4>Vehicles</h4>
										<ul>
											<li><a href="#">Learn Thai</a></li>
											<li><a href="#">Math Genius</a></li>
											<li><a href="#">Chemokid</a></li>
										</ul>
									</div>
									<div>
										<h4>Real Estate</h4>
										<ul>
											<li><a href="#">Success 1.0</a></li>
											<li><a href="#">Moneymaker</a></li>
										</ul><h4>FSBO</h4>
										<ul>
											<li><a href="#">Catch the Bullet</a></li>
											<li><a href="#">Snoopydoo</a></li>
											<li><a href="#">Fallen Angel</a></li>
											<li><a href="#">Sui Maker</a></li>
											<li><a href="#">Wave Master</a></li>
											<li><a href="#">Golf Pro</a></li>
										</ul>
									</div>
									<div>
										<h4>FSBO</h4>
										<ul>
											<li><a href="#">Catch the Bullet</a></li>
											<li><a href="#">Snoopydoo</a></li>
											<li><a href="#">Fallen Angel</a></li>
											<li><a href="#">Sui Maker</a></li>
											<li><a href="#">Wave Master</a></li>
											<li><a href="#">Golf Pro</a></li>
										</ul>
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/cbpHorizontalMenu.min.js"></script>
		<script>
			$(function() {
				cbpHorizontalMenu.init();
			});
		</script>
	</div><div id="main"><!--SIDEBAR LEFT--><div id="sidebar">
  <div id="box_left">
    <h4> Latest featured business  <img src="images/blubar.gif" alt="" width="200" height="5" /></h4>
    <ul class="imageList">
      <li> <a href="#" >EROLINK<br />
        recruitment specialist<br />
        <img class="left" src="images/latestbusinesseerolink.jpg" width="175" height="175" alt="movie" /></a>
      </li><li>
          <map name="playmovie" id="playmovie">
            <area shape="rect" coords="6,3,29,20" href="#" />
      <area shape="rect" coords="32,3,53,20" href="#" />
      <area shape="rect" coords="55,3,80,202" href="#" />
  </map></li>
    </ul>
  </div>
  <div id="box_left">
    <h4>jobseeker tips<br />
      <img src="images/blueline.gif" alt="" width="180" height="5" /></h4>
    <ul class="imageList">
      <li> <a href="#" >send your cv&gt; to a group of business<br />
        <br />
        Post a Listing &gt;<br />
        <br />
        How to post a listing?</a></li>
    </ul>
  </div><div id="box_left">
    <h4>you may also LIKE<br />
      <img src="images/blueline.gif" alt="" width="180" height="5" /></h4>
    <ul class="imageList">
      <li>
        <div class="zoomreccomend">
          <p><a href="http://zoomtanzaniahost.com/zoomtanzania/"><h2>Tanzania Tourism Directory</h2>
          </a></p><br />
          <p><a href="http://zoomtanzaniahost.com/zoomtanzania/"><h2>How to List my Business</h2></a></p>
        </div>
      </li>
    </ul>
  </div>
</div><!--CONTENT SLIDING EVENTS + CLASSIFIED TABS--><div id="columncontent">
  <div id="container">
    <h4 align="center"> tanzania recruitment agencies<img src="images/blubar.gif" alt="" width="540" height="5" /></h4>
    <div id="welcometext" align="left"> 
      <p class="smallbreadcrumbs"><a href="#">Home</a> &gt;<a href="#"> Tanzania Business Directory</a> &gt; <a href="#">Business Services</a> &gt; Tanzania Recruitment Agencies</p><p>
        <br />
       
    </p>
    </div>
 <img src="image/categories/detailpage_shareit.jpg" /> <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style" align="right">
<a class="addthis_button_email"></a>
<a class="addthis_button_print"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_google_plusone_share"></a>
<a class="addthis_button_stumbleupon"></a>
<a class="addthis_button_reddit"></a>
<a class="addthis_button_linkedin"></a>
<a class="addthis_button_blogger"></a>
<a class="addthis_button_compact"></a><!--<a class="addthis_counter addthis_bubble_style"></a>-->
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
<!-- AddThis Button END --></div>
 <!--BUSINESS DETAIL COMPLETE--><div class="listlogo"><h3>
    <br />
    <br />
      <a href="http://www.zoomtanzania.com/zoomedlisting?ListingID=51789" onclick="clickThroughExpanded(51789)">Phisyocare Arena Gym</a><br />
<br />
          </h3><div class="list">
      
     <ul><li><img src="images/logo_business.png" width="175" height="82" align="left" /></li><li>
        <h5>Contacts:</h5><br />
          <b><br />
          Location:</b> Dar Es Salaam <br />
            <b>Tel:</b> +255 752 124 124<br />
            <b>Fax:</b> +255 (0) 22 212 2843<br />
            <b><a href="#">Facebook Page </a></b><br />
            <a href="#">www.peoplepower.co.tz</a><br />

</li><li><img src="images/button_post.png" width="127" height="36" /></li>  
</ul></div>
   
<div class="list">
<img src="images/photogallerysample1.jpg" width="120" height="120" />
<img src="images/photogallerysample.jpg" width="120" height="120" />
<img src="images/photogallerysample3.jpg" width="120" height="120" />
<img src="images/photogallerysample.jpg" alt="" width="120" height="120" /></div>
<div class="list" align="left">
<img src="images/icon_lens.png" alt="" width="20" height="19" />zoom our flyer <br />
       <br />
       <img src="images/120413070048Filamu-Club-April-Lounge-1.jpg" alt="poster" width="141" height="200" />
          <h5>          About People Power: </h5>
        <p>People Power is Tanzania's own consulting firm that endeavors to provide world-class human resources and education services tailored to the Tanzanian market. It encourages creative thinking and helps organizations and individuals find out-of the-box solutions to their problems. We believe that no problem is too small to escape attention and no problem is too big to defy a solution.<br />
          <br />
        <h5>Location/Directions:</h5><br />
        2nd Floor, Textile House on Morogoro Road in Town close to NMB Morogoro Road branch. <br />
        Contact us for more details.<br />
        <br />
        <br />
        <br />
</div>
        
        
      

       

     
  </div>
  <div align="right">
        <h6><a href="#"><img src="images/button_report.gif" width="21" height="18" /> report abuse or incorrect content</a></h6></div><!-- AddThis Button START --><div class="addthis_toolbox addthis_default_style addthis_16x16_style" align="left">
<a class="addthis_button_email"></a>
<a class="addthis_button_print"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_compact"></a><!--<a class="addthis_counter addthis_bubble_style"></a>-->
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
<!-- AddThis Button END --></div>
</div>



</div><!-- SIDEBAR RIGHT--><div id="sidebar2"><div id="box_banner">
    

        <img  src="images/banner0.jpg" height="550" alt="" />
  </div><!--<div id="box_left">
    <h4>Latest Featured Business<br />
      <img src="images/blueline.gif" alt="" width="170" height="5" /></h4>
    <ul class="imageList">
      <li><a href="#" >Easter Holiday<br />
          Special Package to Maldive<br />
        <img class="left" src="images/latestbusiness.jpg" width="141" height="200" alt="" /><br />
         </a></li>
    </ul>

</div>--></div>
  
  </div>
  <!--FOOTER
<div id="footer"><div class="itemcenter"><img src="images/banner_top728.jpg" width="728" height="90" /></div></div>--></div>
</body>
</html>
