<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read">
            <remove name="AboMapperCustom-152421" />
            <remove name="AboMapperCustom-760747921" />
            <remove name="AboMapperCustom-65375" />
        </handlers>
    </system.webServer>
</configuration>
