@charset "UTF-8";
/* CSS Document */
#cssm1 *  { padding:0; margin: 0; }

#cssm1 
{  position: absolute; z-index: 99; top:20px; left: 35px; position: fixed; left:10; top:20; float: left;  margin:0; line-height: 30px; }

#cssm1 a 
{ display: block; border-bottom: 2px solid #fff; background: #abc; text-decoration: none; padding: 3px 10px; }
#cssm1 a:hover { background: #789; }


#cssm1 ul li, #cssm1 ul li ul li  { width: 120px; }

#cssm1 ul, #cssm1:hover ul li ul, #cssm1:hover ul li:hover ul li ul{ 
	display:none;
	list-style-type:none; 
	width: 120px;
	}

#cssm1:hover ul, #cssm1:hover ul li:hover ul, #cssm1:hover ul li:hover ul li:hover ul { 
	display:block; 
	}

#cssm1:hover ul li:hover ul, #cssm1:hover ul li:hover ul li:hover ul { 
	position: absolute;
	left: 120px; top: 10;
	}

#cssm1 ul li ul, #cssm1 ul li ul li ul 
{ clear: left; margin-top: -30px; }

#cssm3 { background-color: #fff; padding: 3px; text-align: center; } 
#cssm1:hover #cssm3 { display:none; }

