@charset "UTF-8";
/* CSS Document */
/*General for all categories boxes and menu for tourism*/
	.categories
	{
	display: inline-block;
	width: 600px;
	padding: 0px;
	margin: 0px 0px;
	vertical-align: text-top;
	text-align: left;
	zoom: 1;
	*display: inline;
	float: left;}

	.categories div 
	{border: solid 1px #ccc; 
	display: inline-block; 
	min-width: 180px;
	max-width:180px; 
	padding: 10px 0 10px 0; 
	margin: 7px 3px;  
	vertical-align: text-top; 
	text-align: center; 
	zoom: 1; 
	*display: inline;
	float:left;
	min-height: 210px;
	font-weight:700;}

	.categories h2 {
	font-size: 12px;
	font-weight:bold;}
	
	.categories div img  {
  	margin: 0 10px 0 10px;
  	margin-top: 5px;
  	margin-bottom: 5px;
	border:#CCC solid 1px;
	min-width:120px;
	max-width:150px;
	max-height:140px;
	}

/* This is very important for any listing detail page content*/

	.list
	{display: inline-block;
	width: 600px;
	margin: 0px 0px;
	vertical-align: text-top;
	*zoom: 1;
	float: left;
	min-width: 600px;}
	
	.list div 
	{border:solid #CCC 1px;
	display: inline-block; 
	margin: 7px 3px; 
	max-width:585px;
	padding: 20px 20px 20px; 
	vertical-align: text-top; 
	text-align: left; 
	float:left;
	}

	.list img 
{	display: inline-block; 
	margin-right: 5px;
	margin-bottom: 5px;  
	vertical-align: text-top; 
	text-align: left; 
	float:left;
	vertical-align:middle;
	border:solid #CCC 1px;}

	.listlogo
	{display: inline-block;
	width: 595px;
	margin: 0px 0px;
	zoom: 1;
	*display: inline;
	float: left;}
	
	.listlogo div {
	border:solid #CCC 1px;
	margin: 7px 3px; 
	padding: 20px 20px 20px; 
	text-align: left; 
	min-width: 595px;}

	.listlogo img 
	{display: inline-block; 
	margin-right: 5px;
	margin-bottom: 5px;  
	vertical-align: text-top; 
	text-align: left; 
	float:left;
	vertical-align:middle;
	border:#CCC 1px solid;}
	
/*FORM SEARCH ON THE SIDEBAR*/
	#box_form {
	width: 210px;
	overflow: hidden;
	float: left;
	padding:10px 0px 0px 10px;
	text-align: left; /* orizzontale */
	/*border:solid #CCC 1px;*/
	}
	#box_form li img 
	{margin-top: 5px;
	}
