@charset "UTF-8";
body {background: url(images/sitewide/bgZOOM.gif) repeat-x top #FFFFFF; margin: 0 1em; padding: 0; font-family: Arial, Helvetica, sans-serif;}


/* STRUCTURE */
.wrapper {margin: 0 auto; position: relative; width: 1020px;}


/* MASTHEAD */
.masthead {height: 41px;}
.myaccount {float: left; padding-top: 4px;}
.search {float: right;  padding-top: 4px;}
input.searchfield {border: solid 1px #CCC; width: 184px; margin-right: 12px; color: #898787;}

/* LOGO AND AD */
.logoandad {border-bottom: solid 4px #d8d8d8; width: 100%;}
#logo {}
#ad {margin-top: 18px;}


/* CONTENT */
.hp-wrapper {border-top: solid 1px #000; border-bottom: solid 1px #000; padding: 18px 0;}


/* CHANGED FOR IE 6 */
.leftcol {float: left; width: 211px; margin-right: 8px;}
.centercol {float: left; width: 560px; margin-right: 8px;}
.rightcol {float: left; width: 229px; padding-top: 168px;}


.rightcol-inner {float: left; width: 200px; text-align: right;}


/* LEFT NAVIGATION */
div.leftnav {width: 211px;}
div.leftnav ul {list-style-type: none; margin: 0; padding: 0; border-top: solid 1px #0068b2;}
div.leftnav li {background: url(images/sitewide/bg.nav.gif) repeat-x bottom #FFFFFF; border-bottom: solid 1px #0068b2; font-size: 12px; padding: 8px 11px 8px 16px;}
div.leftnav li a:link, div.leftnav li a:visited {font-weight: bold;}
div.leftnav li a:active, div.leftnav li a:hover {font-weight: bold;  color: #009243; text-decoration: none;}
div.leftnav a.selected {font-weight: bold;  color: #009243; text-decoration: none;}





/* PROMOS */
.promo-aboutzoom {background: #e5e5e5; border: solid 1px #aeaeae; position: absolute; left: 791px; top: 190px; font-size: 13px; line-height: 18px; width: 211px; padding: 0 8px;}
.promo-aboutzoom h1 {font-size: 13px; line-height: 18px; font-weight: normal;}
.sharethis {width: 210px;}
.sharethistxt {font-size: 10px; font-family: Arial, Helvetica, sans-serif; color: #999; float: left; text-align: center; width: 40px; margin: 2px 1px 0 1px;}

.promo-latestfeaturebiz {border: solid 1px #dadada; border-top: solid 1px #b2b2b2; text-align: center; padding: 0 5px 5px 5px; color: #666666; font-size: 11px;}
.promotitle {background:url(images/home/bg.homepagetitles.gif) no-repeat bottom left; color: #0068b2; text-transform: uppercase;font-size: 11px; font-weight: bold; text-align: center; padding: 6px 0; border: solid 1px #b2b2b2; border-bottom: none;}
.promotitle h2 {color: #0068b2; text-transform: uppercase;font-size: 11px; font-weight: bold; padding: 0; margin: 0;}


.promo-tideandlunar {border: solid 1px #dadada; border-top: none; width: 199px; padding: 0 5px 5px 5px; color: #666666; font-size: 12px; background: #FFF;}
.promo-tideandlunartitle {background: url(images/sitewide/bg.bluegraytitle.gif) repeat-y left #7d7d7d; color: #FFF; font-size: 11px; font-weight: normal; border: solid 1px #838383;}
.promo-tideandlunartitletext {padding: 5px 20px 3px 20px;}
.promo-tideandlunar ul {list-style-type: none; margin: 0; padding: 0;}
.promo-tideandlunar li {border-bottom: solid 1px #d8d8d8; padding: 6px 0;}
.promo-tideandlunar li.last {border-bottom: none; padding: 6px 0;}


.promo-homepage {border: solid 1px #dadada;}
.promo-homepagetitle {background: url(images/home/bg.homepagetitles.gif) repeat; color: #0068b2; text-transform: uppercase; font-weight: bold; font-size: 12px; text-align: center; padding: 6px 0; }
.promo-homepagetitle h2 {color: #0068b2; text-transform: uppercase; font-weight: bold; font-size: 12px; padding: 0; margin: 0; }
.promo-homepagetitle a:link {font-size: 11px;}
.promo-homepagebuttons {text-align: center;}
.promo-homepagebuttons img {margin-right: 8px; padding: 4px 0 20px 0;}
.promo-homepagetext {padding: 10px; font-size: 12px; line-height: 18px; color: #666666;}
.promo-homepagetext img {border: solid 1px #d9d9d9;}

.promo-upcomingspecialevents {border: solid 1px #dadada; border-top: solid 1px #b2b2b2; text-align: left; width: 548px; padding: 0 5px 5px 5px; color: #666666; font-size: 12px; line-height: 18px;}
.promo-upcomingspecialevents-inner {border: solid 1px #dadada; border-top: solid 1px #b2b2b2; text-align: left; width: 575px; padding: 0 5px 5px 5px; color: #666666; font-size: 12px; line-height: 18px;}

.promo-comingsoon { text-align: center;}
.promo-comingsoon img {margin-bottom: 5px;}


.promo-eventscalendar {border: solid 1px #dadada;}
.promo-eventscalendartitle {background: url(images/home/bg.homepagetitles.gif) repeat; color: #0068b2; text-transform: uppercase; font-weight: bold; font-size: 12px; text-align: center; padding: 6px 0; }

.promo-eventscalendartext {padding: 10px; font-size: 12px; line-height: 18px; color: #666666;}


/* EVENTS */
.events-skin-tango .events-container {}


.events-skin-tango .events-container-horizontal {
    width: 530px;
    padding: 20px 10px 10px 10px;  
}

.events-skin-tango  {list-style-type: none; padding: 0;}
.events-skin-tango li {border-right: solid 1px #d9d9d9; display: inline; width: 146px; padding: 8px; margin: 7px 3px; border-bottom: solid 1px #CCC;}
.events-skin-tango li img {border: solid 1px #CCC; margin-left: 30px; margin-top: 5px;}






/* FOOTER */
 .footer {border-top: solid 4px #d8d8d8; padding-top: 15px;}
 .footer-left {color: #ababab; font-size: 11px;}
 .footer-right {color: #6d6d6d; font-size: 11px; line-height: 18px; text-align: right;}
 
 


/* MISC */
.clear, #clear {clear: both;}
img {border: none;}
table {border-collapse:collapse;}
td {vertical-align: top;}
.float-left {float: left;}
.float-right {float: right;}
.clear15 {clear: both; height: 15px;}
.paddingright15 {padding-right: 15px;}
.centertext {text-align: center;}
a:link, a:visited {color: #0088e8; text-decoration: none;}
a:active, a:hover {color: #0088e8; text-decoration: underline;}
a.lightgray:link, a.lightgray:visited {color: #6d6d6d; text-decoration: none;}
a.lightgray:active, a.lightgray:hover {color: #6d6d6d; text-decoration: underline;}
a.darkgray:link, a.darkgray:visited {color: #545454; text-decoration: none;}
a.darkgray:active, a.darkgray:hover {color: #545454; text-decoration: underline;}
hr {border: #d9d9d9; background: #d9d9d9; height: 1px; color: #d9d9d9;}
.grayrightvertical {border-right: solid 1px #d9d9d9; padding-right: 15px;}
p {color: #666; font-size: 12px; line-height: 18px;}
.events-locationsearch {width: 260px; color: #666; border: solid 1px #999; background: #FFF; }
.events-search {}
.events-search td {padding: 3px 5px 3px 0px;}
input.calendarfield {border: none; width: 104px; color: #898787;  background: none;}
.calenderfieldcell {background: url(images/inner/bg.calendarfield.gif) no-repeat 0 1.75em;}
